body {
    margin: 0;
    padding: 0;
    background-color: gray;
    margin-top: 20%;
}

div {
    text-align: center;
}
.dive{
    
}

.win {
    background-color: green;
}

.lose {
    background-color: red;
}